/* vim:set sw=2 ts=2 et: */
body {
  font-family: verdana,"Lucida Grande",arial,helvetica,sans-serif;
  color:#333333;
}

div#game {
  padding: 5px;
  margin: 10px auto;
}    
 
div.row {
  /*position: relative; */
  margin: 0px;
  padding: 0px;
  clear: both;  
}

div.cell {
  float: left;
  margin: 0px;
  padding: 0px;      
  width: 152px;
  height: 152px;  
} 

div.tile {
  padding: 10px;
  height: 129px;
  width: 129px;    
  border: 1px solid #fff;
}               

div#dashboard {
  margin: 0;
  width: 600px;
  padding: 5px;
  background-color: #ddddff;
  border: solid 1px #cbcbcb;
  text-align: center;
}

div#dashboard h1 {
  margin: 5px;
  padding: 5px;
  font-size: 24pt;
}

div#dashboard ul {
  margin-left: 0;
  padding-left: 0;
  display: inline;
}

div#dashboard ul li {
  padding: 3px 15px;
  border-left: 1px solid #333;
  list-style: none;
  display: inline
}

div#dashboard ul li.first {
  margin-left: 0;
  border-left: none;
  list-style: none;
  display: inline;
}

/*
div#tile_0 {
  background: transparent url(puzzle.jpg) 0px 0px no-repeat;
}

div#tile_1 {
  background: transparent url(puzzle.jpg) -150px 0px no-repeat;
}

div#tile_2 {
  background: transparent url(puzzle.jpg) -300px 0px no-repeat;
}

div#tile_3 { 
    background: transparent url(puzzle.jpg) -450px 0px no-repeat;
}

div#tile_4 {
  background: transparent url(puzzle.jpg) 0px -150px no-repeat;
}

div#tile_5 {
  background: transparent url(puzzle.jpg) -150px -150px no-repeat;
}

div#tile_6 {
  background: transparent url(puzzle.jpg) -300px -150px no-repeat;
}

div#tile_7 { 
    background: transparent url(puzzle.jpg) -450px -150px no-repeat;
}

div#tile_8 {
  background: transparent url(puzzle.jpg) 0px -300px no-repeat;
}

div#tile_9 {
  background: transparent url(puzzle.jpg) -150px -300px no-repeat;
}

div#tile_10 {
  background: transparent url(puzzle.jpg) -300px -300px no-repeat;
}

div#tile_11 { 
    background: transparent url(puzzle.jpg) -450px -300px no-repeat;
}

div#tile_12 {
  background: transparent url(puzzle.jpg) 0px -450px no-repeat;
}

div#tile_13 {
  background: transparent url(puzzle.jpg) -150px -450px no-repeat;
}

div#tile_14 {
  background: transparent url(puzzle.jpg) -300px -450px no-repeat;
}

*/